<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/style/style.css">
  <script src="/vendors/fontawesome.js"></script>
  <script src="/vendors/jquery.min-v3.1.1.js"></script>
  <script src="/vendors/semantic.min-v2.4.2.js"></script>
  <title>Yelp Camp</title>
</head>

<body>

  <header id="headline">

    <nav class="ui borderless main menu"
      style="background-color: transparent; border: none; box-shadow: none; border-radius: 0px;">
      <div class="ui text container">

        <div class="header item">
          <span><i class="bandcamp icon"></i>Yelp Camp</span>
          <% if (user !== undefined) { %>
          <a href="/campgrounds/camps" class="item item_custom">Home</a>
          <a href="/campgrounds/camps/new" class="item item_custom">Add</a>
          <a href="/campgrounds/users/me" class="item item_custom">Profile</a>
          <a href="/campgrounds/users/logout" class="item item_custom">Logout</a>
          <% } %>
        </div>

        <div class="nav options">
          <% if (user === undefined) { %>
          <a href="/campgrounds/camps" class="item">Home</a>
          <a href="/campgrounds/users/login" class="item item_custom">Login</a>
          <a href="/campgrounds/users/signup" class="item item_custom">Sign Up</a>
          <% } else { %>
          <span class="item">Good day, &nbsp <strong><%= user.username %></strong></span>
          <% if(role != null) { %>
          <span class="item">Role: ADMIN </span>
          <% } %>
          <% } %>
        </div>

        <div class="nav options_hamburger">
          <div class="content">
            <div class="ui inline dropdown dropdown_nav">
              <i class="list ul icon"></i>
              <div class="menu">

                <% if (user !== undefined) { %>
                <a href="/campgrounds/camps" class="item">Home</a>
                <a href="/campgrounds/camps/new" class="item">Add</a>
                <a href="/campgrounds/users/me" class="item">Profile</a>
                <a href="/campgrounds/users/logout" class="item">Logout</a>
                <% } %>


                <% if (user === undefined) { %>
                <a href="/campgrounds/camps" class="item">Home</a>
                <a href="/campgrounds/users/login" class="item">Login</a>
                <a href="/campgrounds/users/signup" class="item">Sign Up</a>

                <% } else { %>
                <span class="item">
                  Good day, &nbsp <strong><%= user.username %></strong>
                </span>

                <% if(role != null) { %>
                <span class="item">
                  Role: ADMIN
                </span>
                <% } %>
                <% } %>

              </div>
            </div>
          </div>
        </div>

      </div>

      <script defer>
        $('.ui.dropdown.dropdown_nav')
          .dropdown()
          ;
      </script>

    </nav>

    <div id="headlineContainer">
      <!-- banner -->
      <div id="banner-parent-continer">

        <!-- message for successfully adding a camp -->
        <% if (success.length > 0) { %>
        <div class="ui positive message" style="margin: 0 0 5% 0">
          <div class="header" style="text-align: center;"><%= success %></div>
        </div>
        <% } %>

        <!-- message for successfully deleting a camp -->
        <% if (info.length > 0) { %>
        <div class="ui positive message" style="margin: 0 0 5% 0">
          <div class="header" style="text-align: center;"><%= info %></div>
        </div>
        <% } %>

        <!-- message for any errors -->
        <% if (error.length > 0) { %>
        <div class="ui negative message" style="margin: 0 0 5% 0">
          <div class="header" style="text-align: center;"><%= error %></div>
        </div>
        <% } %>

        <div class="ui center aligned container">

          <i class="fas fa-campground"></i>
          <h1>Yelp Camp</h1>
          <hr>
          <span><em>“Sleep under a blanket of stars, and your heart will forever be kept warm by your love of
              life.”</em></span>
          <form action="/campgrounds/camps" method="GET">
            <div class="ui large icon input">
              <input type="text" placeholder="Search" name="search" autocomplete="off">
              <i class="search icon" style="color: white"></i>
            </div>
          </form>
        </div>
      </div>

    </div>
  </header>