<div class="ui mini modal comment modalHide <%= com._id %>">
    <div class="ui header">Comment Options</div>
    <div class="content">
        <p style="margin: 5px 0px;">
            "<%= com.comment %>"
        </p>

        <!-- update comment box visible upon click of edit -->
        <% if(user !== undefined) {%>
        <% if(user.username == com.author.name) {%>
        <form id="update-comment-form" class="ui form hidden update-comment-form"
            action="/campgrounds/camps/<%= campground._id %>/comment/<%= com._id %>?_method=PUT" method="POST">
            <div class="inline fields">
                <div class="fifteen wide field" id="update-comment-form-input">
                    <input type="text" name="comment" placeholder="Comment" autocomplete="off"
                        value="<%= com.comment %>" required>
                </div>
                <button class="positive ui button" id="commentUpdate" type='submit'>
                    Update
                </button>
            </div>
        </form>
        <% }; %>
        <% }; %>

    </div>
    <div class="actions">

        <!-- delete comment -->
        <% if(user !== undefined) {%>
        <% if(user.username == com.author.name) {%>

        <span id="editComment">
            <a id="editButton" class="ui orange basic button">Edit</a>
        </span>
        <% }; %>

        <% if(user.username == com.author.name || role != null) {%>
        <button id="deleteCommentButton<%= com._id %>" class="ui negative basic button">
            Delete
        </button>

        <!-- MODAL: delete comment confirmation -->
        <%- include('./modal_confirmDeleteComment', { commentId: com._id, campgroundId: campground._id }) %>
        <% }; %>

        <% }; %>

    </div>
</div>

<script>
    // add an event listener for the button to show the modal above
    $('#moreOptionsCommentButton<%= com._id %>').on('click', () => {
        $('.ui.mini.modal.comment.<%= com._id %>').modal('show');
    })
</script>