<%- include("partials/header") %>

<section id="addReview_parentContainer">
    <div id="formContainer">

        <h1>Adding a review for "<strong><%= campground.campname %></strong>"</h1>

        <form action="/campgrounds/camps/<%= campground._id %>/reviews/new" method="POST">
            <div class="ui form">
                <div class="field">
                    <label for="rating">Leave a rating:</label>
                    <input id="rating" name="review[rating]" style="display: none;">
                    <div class="ui massive star rating" data-max-rating="5">
                    </div>
                </div>

                <div class="field">
                    <label>Review Details: </label>
                    <textarea rows="2" name="review[text]"></textarea>
                </div>

                <div class="field">
                    <button class="ui primary basic button" type='submit'>Submit Review</button>

                    <a href="/campgrounds/camps/<%= campground._id %>/reviews">
                        <button class="ui secondary basic button" type='button'>
                            <i class="left arrow icon"></i>
                            Go Back
                        </button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</section>



<%- include("partials/footer") %>


<script>
    $('.ui.rating')

        // set default rating to 0
        .rating()

        // event listener for changes
        // assigns the new value to the hidden input form
        .rating({
            onRate: function (value) {
                $('#star').val(value);
                console.log($('#star'))
            }
        })
</script>