<%- include("partials/header") %>

<section id="resetPasswordFormContainerParent">
    <div id="formContainer">

        <!-- error message -->
        <% if (error.length > 0) { %>
        <div class="ui negative message">
            <div class="header"><%= error %></div>
        </div>
        <% } %>

        <!-- success message -->
        <% if (success.length > 0) { %>
        <div class="ui negative message">
            <div class="header"><%= success %></div>
        </div>
        <% } %>

        <h1>Password Reset</h1>
        <form class="ui form" action='/campgrounds/users/forgot_password/<%= token %>' method="POST">
            <div class="field">
                <input type="password" id="newPassword" name="newPassword" placeholder="New Password" autocomplete="off"
                    maxlength="50" required>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password"
                    autocomplete="off" maxlength="50" required>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>

    </div>
</section>

<%- include("partials/footer") %>