<%- include("partials/campgroundHeader") %>

<div id="campgrounds-title-container">

    <!-- campgrounds collection header -->
    <h1 id="campgrounds-title">Campgrounds</h1>

    <% if(message) { %>
    <h4 id="campgrounds-subtitle">
        <%=message%>
    </h4>
    <% } %>

    <% if(message === null && campgrounds.length === 0) {%>
    <h4 id="campgrounds-subtitle">
        We don't have any active campgrounds for rent. Please come back a week after.
    </h4>
    <% } %>

</div>

<!-- campground cards -->
<article id="campgrounds" class="ui four stackable cards">

    <% campgrounds.forEach(camp => { %>
    <section class="card">
        <div class="image">
            <img src="<%= camp.image %>" alt="<%= camp.campname %>" onerror="this.src='/camp.png';">
        </div>
        <div class="content">
            <div class="meta">
                <h2><%= camp.campname %></h2>
                <span class="date"><%= camp.location %></span>
            </div>
            <div id="buttonContainer">
                <div class="buttonContainer_meta">
                    <div>
                        <span class="left floated">
                            <i class="like icon"></i> Likes:
                            <%= camp.likes.length %>
                        </span>
                    </div>
                    <div>
                        <span class="left floated">
                            <i class="star icon"></i> Rating:
                            <%= camp.rating %>
                        </span>
                    </div>
                </div>
                <div class="buttonContainer_button">
                    <a href="/campgrounds/camps/<%= camp.id %>">
                        <button class="ui right labeled icon button">
                            <i class="right arrow icon"></i> See More
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <% }) %>

</article>

<%- include("partials/footer") %>