<%- include("partials/header") %>

<section id="campgroundParentContainer">

    <!-- alert-success message -->
    <% if (success.length > 0) { %>
        <div class="ui positive message" style="margin: 2% 5%;">
            <div class="header"><%= success %></div>
        </div>
    <% } %>

    <div id="campgroundContainer" class="ui relaxed grid">
        <!-- sticky sidebar -->
        <article id="sidebar" class="six wide column>">
            <div id="sidebarNavigation" class="ui vertical pointing menu">
                <a class="item">Home</a>
                <a class="item">Messages</a>
                <a class="item">Friends</a>
                <div id="map"></div>
            </div>
        </article>

        <!-- main campground card -->
        <article id="campgroundCard" class="ten wide column>">
            <div class="ui card">
                <div class="image">
                    <img lass="ui fluid image" src="<%= campground.image %>" alt="<%= campground.campname %>">
                </div>
                <div class="content">
                    <span class="header"><%= campground.campname %></span>
                    <div id="priceContainer" class="ui tag labels">
                        <span id="pricetag" class="ui green label">$ <%= campground.price %> / night</span>
                    </div>
                    <div class="meta">
                        <div class="date"><em>Submitted by:  &nbsp<strong><%= campground.uploader.name %></em></strong> - <%= moment(campground.createdAt).fromNow() %></div>
                        <span class="date"><%= campground.location %></span>
                    </div>
                    <div class="description" id="description">
                        <%= campground.description %>
                    </div>
                </div>
                <div class="ui celled list">

                <!-- delete campground -->
                <% if(user !== undefined) {%>
                    <% if(user.id == campground.uploader.id || role != null) {%>
                        <form class="ui form deleteCampground" action="/campgrounds/<%= campground._id %>/delete?_method=DELETE" method="POST">
                            <div class="inline fields">
                                <div class="one wide field">
                                    <a id="editButton" class="ui orange basic button" href="/campgrounds/<%= campground.id %>/edit">Edit</a>
                                    <button id="deleteButton" class="ui negative basic button">Delete</button>
                                </div>
                            </div>
                        </form>
                    <% }; %>
                <% }; %>

                <!-- add comment section -->
                <% if(user !== undefined) {%>
                <form class="ui form" action="/campgrounds/<%= campground._id %>/comment" method="POST">
                    <div class="inline fields">
                        <div class="fifteen wide field">
                            <input type="text" name="comment" placeholder="review details" autocomplete="off" required>
                        </div>
                        <button id="reviewButton" class="positive ui button">Review</button>
                    </div>
                </form>
                <% }; %>

                <!-- comments section -->
                <% if(campground.comments.length > 0) { %>
                    <% campground.comments.forEach(com => { %>
                        <div class="item">
                            <div class="content">

                                <!-- author / date of the comment -->
                                <div class="header">
                                    <%= com.author.name %><span id="date" style="float: right"><%= moment(com.createdAt).fromNow() %></span>
                                </div>

                                <!-- edit / delete comment -->
                                <% if(user !== undefined) {%>
                                    <% if(user.username == com.author.name) {%>
                                        <div class="editCommentContainer">
                                            <span id="date">
                                                <a id="editComment" class="ui mini orange basic button">Edit</a>
                                            </span>
                                        </div>
                                    <% }; %>

                                    <% if(user.username == com.author.name || role != null) {%>
                                    <form class="ui form deleteCommentBtn" action="/campgrounds/<%= campground._id %>/comment/<%= com._id %>/delete?_method=DELETE" method="POST">
                                        <div class="inline fields">
                                            <div class="one wide field">
                                                <button class="ui mini negative basic button">Delete</button>
                                            </div>
                                        </div>
                                    </form>
                                    <% }; %>
                                <% }; %>

                                <!-- the comment -->
                                <div class="description">
                                    <span><em>"<%= com.comment %>"</em></span>
                                </div>

                                <!-- update comment box visible upon click of edit -->
                                <% if(user !== undefined) {%>
                                    <% if(user.username == com.author.name) {%>
                                        <form id="updateCommentBox"  class="ui form hidden updateCommentBox" action="/campgrounds/<%= campground._id %>/comment/<%= com._id %>/update?_method=PUT" method="POST">
                                            <div class="inline fields">
                                                <div class="fifteen wide field">
                                                    <input type="text" name="comment" placeholder="Comment" autocomplete="off" value="<%= com.comment %>" required>
                                                </div>
                                                <button class="positive ui button" id="commentUpdate" type='submit'>Update</button>
                                                <button class="positive ui button" id="commentCancel" type='button'>Cancel</button>
                                            </div>
                                        </form>
                                    <% }; %>
                                <% }; %>

                            </div>
                        </div>
                    <%  }); %>
                <% }; %>

                </div>
            </div>
        </article>
    </div>
</section>

<script>

    const mymap = L.map('map').setView([<%= campground.lat %>, <%= campground.lng %>], 7.5);
    var marker = L.marker([<%= campground.lat %>, <%= campground.lng %>]).addTo(mymap);
    var popup = L.popup({closeButton: false})
        .setLatLng([<%= campground.lat %>, <%= campground.lng %>])
        .setContent("<%= campground.campname %>")
        .openOn(mymap);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken:'pk.eyJ1Ijoicm9va2llbW9ua2V5IiwiYSI6ImNrYm9saXRhbzIycGIyd215bWw4cDJtdmEifQ.CEstCFxd-sVsSA6ef_fgMA'
    }).addTo(mymap);

</script>

<%- include("partials/footer") %>