<%- include("partials/header") %>

<section id="reviews_parentContainer">

    <div id="reviews_parentInnerContainer">

        <% if (error.length > 0) { %>
        <div class="ui negative message">
            <div class="header"><%= error %></div>
        </div>
        <% } %>

        <% if (success.length > 0) { %>
        <div class="ui positive message">
            <div class="header"><%= success %></div>
        </div>
        <% } %>

        <h3 id="reviews_title">
            reviews for: <%= campground.campname %>

            <% if(user !== undefined) { %>
            <% if(JSON.stringify(campground.uploader.id) !== JSON.stringify(user._id)) { %>
            <a href='/campgrounds/camps/<%= campground._id %>/reviews/new'>
                <button id='addReview' class="ui primary basic button right floated">
                    Leave a review
                </button>
            </a>
            <% } %>
            <% } %>

            <a href="/campgrounds/camps/<%= campground._id %>">
                <button id='addReview' class="ui secondary basic button right floated" type='button'>
                    <i class="left arrow icon"></i>
                    Go Back
                </button>
            </a>

        </h3>

        <div id="reviews_items" class="ui items">

            <%if(campground.reviews.length === 0) { %>
            <h3>There are no reviews for this post yet.</h3>
            <% } %>

            <% campground.reviews.forEach(review => { %>
            <div id="reviews_item" class="item">
                <a class="ui tiny image">
                    <img src="<%= review.author.avatar %>">
                </a>
                <div class="content">
                    <a class="header" href="/campgrounds/users/<%= review.author._id %>">
                        @<%= review.author.username %>
                    </a>

                    <% if(user !== undefined) {%>
                    <% if(JSON.stringify(review.author._id) === JSON.stringify(user.id))  { %>
                    <div class="ui inline dropdown right floated">
                        <i class="ellipsis horizontal icon"></i>
                        <div class="right menu">
                            <div class="item" data-text="Delete">
                                <form
                                    action="/campgrounds/camps/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE"
                                    method="POST" id="reviews_deleteForm">
                                    <button class="negative ui button" id="deleteReviewBtn"
                                        type='submit'>Delete</button>
                                </form>
                            </div>
                            <div class="item" data-text="Update">
                                <button class="positive ui button" id="updateReviewBtn">
                                    <a href="/campgrounds/camps/<%=campground._id%>/reviews/<%=review._id%>/edit"
                                        style="text-decoration: none; color: whitesmoke">
                                        Update
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <% } %>

                    <div class="meta">
                        <div class="ui star rating <%=review._id%>" data-rating="<%= parseInt(review.rating) %>"
                            data-max-rating="5">
                        </div>

                        <script>
                            $('.ui.rating.<%=review._id%>')
                                .rating('disable');
                        </script>

                    </div>
                    <div class="description">
                        <p><%= review.text %></p>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</section>

<script>
    $('.ui.dropdown')
        .dropdown();
</script>

<%- include("partials/footer") %>