<%- include("partials/header") %>

<section id="updateReview_parentContainer">
    <div id="formContainer">

        <h1 class="ui header">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24">
                <path
                    d="M8.424 12.282l4.402 4.399-5.826 1.319 1.424-5.718zm15.576-6.748l-9.689 9.804-4.536-4.536 9.689-9.802 4.536 4.534zm-6 8.916v6.55h-16v-12h6.743l1.978-2h-10.721v16h20v-10.573l-2 2.023z" />
            </svg>
            <div class="content" style="margin: 0px 15px;">
                Edit Review
            </div>
        </h1>

        <form action="/campgrounds/camps/<%= campgroundId %>/reviews/<%= review._id %>/edit?_method=PUT" method="POST">
            <div class="ui form">
                <label for="rating">Update rating:</label>
                <div class="field">
                    <input id="rating" name="review[rating]" value="<%= review.rating %>" style="display: none;">
                    <div class="ui massive star rating" data-rating="<%= review.rating %>" data-max-rating="5">
                    </div>
                </div>

                <div class="field">
                    <label>Review Details: </label>
                    <textarea rows="12" name="review[text]"><%= review.text %></textarea>
                </div>

                <div class="field">
                    <button class="ui primary basic button" type='submit'>Update Review</button>

                    <a href="/campgrounds/camps/<%= campgroundId %>/reviews">
                        <button class="ui secondary basic button" type="button">
                            <i class="left arrow icon"></i>
                            Go Back
                        </button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    $('.ui.rating')
        .rating({
            onRate: function (value) {
                $('#rating').val(value);
            }
        })
</script>

<%- include("partials/footer") %>