<%- include("partials/header") %>

<article id="profile_parentContainer">
    <section id="profile_sidebar" class="six wide column>">
        <img id="profile_avatar" class="ui medium circular image" src="<%= foundUser.avatar %>" />
        <h1><%= foundUser.firstName %> <%= foundUser.lastName %></h1>
        <ul id="profile_listmetas">
            <li>Username: <%= foundUser.username %></li>
            <li>Email: <%= foundUser.email %></li>
        </ul>
    </section>

    <section id="profile_camplist">
        <h3>Uploaded Camps</h3>
        <div id="profile_listcamps" class="ui divided items">

            <% if(foundUserCamps.length === 0) { %>
            <h5>No uploaded camps yet</h5>
            <% } %>

            <% foundUserCamps.forEach(camp => { %>
            <div class="item">
                <div class="image">
                    <img src="<%= camp.image %>">
                </div>
                <div class="content">
                    <a href="/campgrounds/camps/<%= camp._id %>"><%= camp.campname %></a>
                    <div class="meta">
                        <span class="price">$<%= camp.price %> </span>
                        <span class="stay"> /night</span>
                    </div>
                    <div class="description">
                        <p><%= camp.location %></p>
                    </div>
                    <div class="extra">
                        <div class="ui labeled button" tabindex="0">
                            <div class="ui red button">
                                <i class="heart icon"></i> Likes
                            </div>
                            <a class="ui basic red left pointing label">
                                <%= camp.likes.length %>
                            </a>
                        </div>
                        <div class="ui labeled button" tabindex="0">
                            <div class="ui orange button">
                                <i class="star icon"></i> Rating
                            </div>
                            <a class="ui basic left pointing orange label">
                                <%= camp.rating %>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>

        </div>

        <h3>User Reviews</h3>
        <div id="profile_listcamps" class="ui divided items">

            <% if(foundUserReviews.length === 0) { %>
            <h5>No reviewed camps yet</h5>
            <% } %>

            <% foundUserReviews.forEach(review => { %>
            <div class="item">
                <div class="image">
                    <img src="<%= review.campground.image %>">
                </div>
                <div class="content">
                    <div class="header">
                        <a href="/campgrounds/camps/<%= review.campground._id %>">
                            <%= review.campground.campname %>
                        </a>
                    </div>
                    <div class="meta">
                        <span class="price">Rating </span>
                        <span class="stay"><%= review.rating %></span>
                    </div>
                    <div class="description">
                        <p><%= review.text.substring(0, 70) %>...</p>
                    </div>
                </div>
            </div>
            <% }) %>

        </div>
    </section>
</article>

<%- include("partials/footer") %>