<%- include("partials/header") %>

This is the user profile page
<h1><%= foundUser.firstName %> <%= foundUser.lastName %></h1>
<ul>
    <li><%= foundUser.username %></li>
    <li><%= foundUser.email %></li>
</ul>

<h5>List of uploaded camps</h5>
<ul>
    <% foundUserCamps.forEach(camp => { %>
    <li>
        <a href="/campgrounds/camps/<%= camp._id %>"><%= camp.campname %></a>
    </li>
    <% }) %>
</ul>

<%- include("partials/footer") %>