<%- include("partials/header") %>

<article id="profile_parentContainer">
    <section id="profile_sidebar" class="six wide column>">
        <img id="profile_avatar" class="ui medium circular image" src="<%= foundUser.avatar %>" />
        <h1><%= foundUser.firstName %> <%= foundUser.lastName %></h1>
        <ul id="profile_listmetas">
            <li>Username: <%= foundUser.username %></li>
            <li>Email: <%= foundUser.email %></li>
        </ul>
    </section>

    <section id="profile_camplist">
        <h3>Uploaded Camps</h3>
        <div id="profile_listcamps" class="ui divided items">

            <% if(foundUserCamps.length === 0) { %>
            <h5>No uploaded camps yet</h5>
            <% } %>

            <% foundUserCamps.forEach(camp => { %>
            <%- include('./partials/userprofile_campgrounds', { camp }) %>
            <% }) %>

        </div>

        <h3>User Reviews</h3>
        <div id="profile_listcamps" class="ui divided items">

            <% if(foundUserReviews.length === 0) { %>
            <h5>No reviewed camps yet</h5>
            <% } %>

            <% foundUserReviews.forEach(review => { %>
            <%- include('./partials/userprofile_reviews', { review }) %>
            <% }) %>

        </div>
    </section>
</article>

<%- include("partials/footer") %>