<%- include("partials/header") %>

<article id="profile_parentContainer">
    <section id="profile_sidebar" class="six wide column>">
        <img id="profile_avatar" class="ui medium circular image" src="<%= foundUser.avatar %>" />
        <h1><%= foundUser.firstName %> <%= foundUser.lastName %></h1>
        <ul id="profile_listmetas">
            <li>Username: <%= foundUser.username %></li>
            <li>Email: <%= foundUser.email %></li>
        </ul>
    </section>

    <section id="profile_camplist">
        <h5>Uploaded Camps</h5>
        <div id="profile_listcamps" class="ui items">

            <% if(foundUserCamps.length === 0) { %>
            <h4>No uploaded camps yet</h4>
            <% } %>

            <% foundUserCamps.forEach(camp => { %>
            <div id="profile_camplistitem" class="item">
                <div class="ui small image">
                    <img src="<%= camp.image %>">
                </div>
                <div class=" content">
                    <div class="header">
                        <a href="/campgrounds/camps/<%= camp._id %>"><%= camp.campname %></a>
                    </div>
                    <div class="meta">
                        <span class="price">$<%= camp.price %> </span>
                        <span class="stay"> /nigth</span>
                    </div>
                    <div class="description">
                        <p><%= camp.description.substring(0, 70) %>...</p>
                    </div>

                    <span><i class="fas fa-thumbs-up"></i> <%= camp.likes.length %></span>
                </div>
            </div>
            <% }) %>

        </div>
    </section>
</article>

<%- include("partials/footer") %>